.main{
  background-image: linear-gradient(rgba(0,0,0,0.80), rgba(0,0,0,0.0)), url(./components/Pictures/background.jpg);
  background-color: rgb(57, 57, 85);
  background-size: cover;
  background-position: 100% 50%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-text{
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
}

.login-button{
  color: whitesmoke;
  border-radius: 10px;
  background: none;
  padding: 0px 10px;
  margin: 50px;

}