.dashboard-overview{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#dashboard-title{
    display: flex;
    color: whitesmoke;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    font-size: 3.25em;
    font-family: 'Montserrat', sans-serif;
}

.col {
    margin-bottom: 20px;
}

.card-body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(10, 10, 15);
    background-clip: border-box;
    border: 1px solid rgba(223, 54, 54, 0.125);
    border-radius: .25rem;
}


.cards{
    text-align: center;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

.list-group>.btn-primary{
    color: whitesmoke;
    /* background-color: rgb(5, 6, 61); */
    background-color: #2368a2;
    border: none;
}


.logout-button{
    border-radius: 10px;
    background: none;
    padding: 0px 10px;
    margin: 50px;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}


